@import url('https://fonts.googleapis.com/çss2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import 'reset.css';

body {
    background-color: mintcream;
    font-family: 'Raleway', sans-serif;
    margin: 4rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: indigo;
}

p, a {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}